<footer class="bg-light text-center text-dark">
    <div class="container p-4 pb-0">

        <h1 class="display-4">Visite nossas Redes Sociais</h1>
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;" href="#!" role="button"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            <!-- Linkedin -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca;" href="#!" role="button"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
            <!-- Github -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #333333;" href="#!" role="button"><i class="fa fa-github" aria-hidden="true"></i></a>
        </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright: Miguel
    </div>
</footer>