<div class="container-fluid">

  <div class="row d-flex align-items-center">
    <div class="col-md-6">

      <div class="row d-flex justify-content-center">
        <div class="col-md-6">
          <h1 class="fs-54">Seja bem vindo(a)!</h1>
          <h5 class="fs-18">expresse aqui os seus pensamentos e opniões!</h5>
        </div>
      </div>

      <div class="row d-flex justify-content-center mt-3 mb-5">
        <div class="col-md-6">
          <button class="btn btn-primary m-2" data-toggle="modal" data-target="#novaPostagem">Nova Postagem</button>
          <a class="btn m-2 btn-outline-secondary" href="#postagens">Ver Postagens</a>
        </div>
      </div>

    </div>


    <div class="col-md-6 d-flex justify-content-center">
      <img src="../../assets/imgs/programming.gif" alt="" width="500px" height="500px">
    </div>
  </div>

</div>

<div class="container mb-5 mt-5" id="postagens">

  <nav>
    <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">

      <a class="nav-item nav-link active text-secondary font-weight-bold" id="nav-todasPostagens-tab" data-toggle="tab"
        href="#todasPostagens" role="tab" aria-controls="nav-todasPostagens" aria-selected="true">Todas as Postagens</a>

      <a (click)='findByIdUser()' class="nav-item nav-link text-secondary font-weight-bold" id="nav-minhasPostagens-tab"
        data-toggle="tab" href="#minhasPostagens" role="tab" aria-controls="nav-minhasPostagens"
        aria-selected="false">Minhas Postagens</a>

      <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-postagemTema-tab" data-toggle="tab"
        href="#postagemTema" role="tab" aria-controls="nav-postagemTema" aria-selected="false">Postagens por tema</a>

    </div>
  </nav>

  <div class="tab-content mt-5" id="nav-tabContent">

  




    <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="nav-todasPostagens-tab">

<!-- find por postagem -->
      <div class="row d-flex justify-content-center m-5">
        <div class="col-md-4">
          <div class="form-group">
            <label for="PostagemSearch">Procurar Postagem</label>
            <input class="form-control w-100" id="PostagemSearch" type="search" (keyup)='findByTituloPostagem()' placeholder="Pesquisar postagem" aria-label="Pesquisar"
              [(ngModel)]="tituloPostagem">
          </div>
        </div>
      </div>


      <div class="card-columns">
        <div class="card text-center" *ngFor='let item of listaPostagens | orderBy : key: reverse'>
          <div class="card-body">
            <h5 class="card-title m-0">{{item.titulo}}</h5>
            <small class="text-muted"> Tema: {{item.tema.descricao}}</small>
            <p class="card-text mt-3">{{item.texto}}</p>
            <p class="card-text"><small class="text-muted">
                {{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm'}}
              </small></p>

            <p class="card-text"><small class="text-muted">
                by: {{item.usuario.nome}}
              </small></p>
          </div>
        </div>
      </div>

    </div>

    <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">

      <div class="card-columns">
        <div class="card text-center" *ngFor='let item of usuario.postagem | orderBy: key: reverse'>
          <div class="card-body">
            <h5 class="card-title m-0">{{item.titulo}}</h5>
            <small class="text-muted"> Tema: {{item.tema.descricao}}</small>
            <p class="card-text mt-3">{{item.texto}}</p>
            <p class="card-text"><small class="text-muted">
                {{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm'}}
              </small></p>

            <a [routerLink]="['/postagem-edit', item.id]" class="text-info mr-3" href="">Editar</a>
            <a [routerLink]="['/postagem-delete', item.id]" class="text-danger" href="">Apagar</a>

          </div>
        </div>
      </div>

    </div>

    <div class="tab-pane fade" id="postagemTema" role="tabpanel" aria-labelledby="nav-postagemTema-tab">
      <div class="row d-flex justify-content-center m-5">
        <div class="col-md-4">
          <div class="form-group">
            <label for="temasearch">Pesquisa por tema:</label>
            <input class="form-control w-100" type="search" id="temasearch" (keyup)="findByDescricaoTema()" placeholder="Pesquisar Tema" aria-label="Pesquisar"
              [(ngModel)]="descricaoTema">
          </div>
        </div>
      </div>

      <div class="card-columns" *ngFor='let tema of listaTemas '>
        <div class="card text-center" *ngFor='let item of tema.postagem | orderBy: key: reverse'>
          <div class="card-body">
            <h5 class="card-title m-0">{{item.titulo}}</h5>
            <p class="card-text mt-3">{{item.texto}}</p>
            <p class="card-text"><small class="text-muted">
                {{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm'}}
              </small></p>

            <p class="card-text"><small class="text-muted">
                by: {{item.usuario.nome}}
              </small></p>

          </div>
        </div>
      </div>

    </div>
  </div>

</div>


<!-- Modal -->
<div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="novaPostagemLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="novaPostagemLabel">Nova Publicação</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


      <div class="modal-body">

        <div class="form-group" action="">
          <label for="">Titulo</label>
          <input type="text" [(ngModel)]="postagem.titulo" class="form-control">

          <label for="">Texto</label>
          <textarea name="texto" [(ngModel)]="postagem.texto" id="texto" rows="3" class="form-control"></textarea>

          <label for="texto">Escolha um tema ou </label><a routerLink="/tema" data-dismiss="modal"> cadastre um tema</a>
          <select name="tema" class="form-control mt-2" [(ngModel)]="idTema" (change)="findByIdTema()" id="">

            <option *ngFor="let tema of listaTemas | orderBy: key: reverse" value={{tema.id}}>
              {{tema.nome}}
            </option>

          </select>

        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" data-dismiss="modal"
          (click)="publicarPostagem()">Publicar</button>
      </div>
    </div>
  </div>
</div>